services:
  postgres:
    image: postgres:15-alpine
    container_name: movie-garden-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=movie-garden
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: